body {
    color:#333;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto","Droid","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    vertical-align: baseline;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: #FFF;
}

header {
    background-color: #000;
    font: inherit;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

ol, ul {
    list-style: none;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: green;
}

a:active {
    color: green;
}