.small-text {
    font-size: 11px;
}

.large-text {
    font-size: 16px;
}

.bold-text {
    font-weight: bold;
}

.ligth-grey-text {
    color: #999;
}

.green-text {
    color: green;
}

.error {
    border: 1px solid;
    margin: 10px 0px;
    padding:10px 10px 10px 15px;
    color: #D8000C;
    background-color: #FFBABA;
    font-weight: bold;
    display: none;
}